* {
    box-sizing: content-box;
    background-color: #201f1f;
    text-align: center;
    color: white;
}

.navbar {
    height: 20px;
}

.navbar a{
    background-color: lightcoral;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    float: left;
}

.navbar a:hover{
    background-color: #f44336;
}

.RecipeLinks a{
    background-color: lightcoral;
    color: white;
    padding: 10px 10px;
    margin: 10px auto;
    text-decoration: none;
    display: block;
}

.RecipeLinks a:hover{
    background-color: #f44336;
}